$switch-width: 40px;
$switch-height: 20px;

$marker-size: 16px;

$spacing: calc(($switch-height - $marker-size) / 2);

:host {
  /**
   * @prop --background-color-default: The background color by default
   */
  --background-color-default: #c7c7c7;
  /**
   * @prop --background-color-checked: The background color if checked
   */
  --background-color-checked: #398368;
  /**
   * @prop --background-color-disabled: The background color if disabled
   */
  --background-color-disabled: #e3e3e3;
  /**
   * @prop --highlight-color-default: The highlight color by default
   */
  --highlight-color-default: #112c9f;
  /**
   * @prop --marker-color-default: The marker color by default
   */
  --marker-color-default: #ffffff;
  /**
   * @prop --marker-color-disabled: The marker color if disabled
   */
  --marker-color-disabled: #c7c7c7;

  display: inline-block;
  height: $switch-height;

  .gtc-switch {
    display: inline-block;
    width: $switch-width;
    height: $switch-height;
    border-radius: calc($switch-height / 2);
    background-color: var(--background-color-default);
    position: relative;
    cursor: pointer;

    &:hover {
      outline: 2px solid var(--highlight-color-default);
      outline-offset: 2px;
    }

    .gtc-switch-marker {
      display: inline-block;
      width: $marker-size;
      height: $marker-size;
      border-radius: calc($marker-size / 2);
      background-color: var(--marker-color-default);

      position: absolute;
      top: $spacing;
      left: $spacing;
    }

    &__checked {
      background-color: var(--background-color-checked);

      .gtc-switch-marker {
        left: calc($switch-width - $marker-size - $spacing);
      }
    }

    &__disabled {
      pointer-events: none;
      cursor: not-allowed;
      background-color: var(--background-color-disabled);

      &:hover {
        outline: none;
      }

      .gtc-switch-marker {
        background-color: var(--marker-color-disabled);
      }
    }
  }
}
